[user]
	name = u0a266
	email = 72482919+u0a266@users.noreply.github.com
[core]
	editor = nvim
	filemode = false
[push]
	default = current
[color]
	ui = auto
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:"%C(green)%h\\ %C(yellow)[%ad]%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
	res = reset --hard
	nyan = !nyancat
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse
    syntax-theme = Nord


[include]
	path = /home/alice/.gitalias
