#!/usr/bin/env sh

export XIM=fcitx
export XIM_PROGRAM=fcitx
export INPUT_METHOD=fcitx
export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx
export MOZ_ACCELERATED=1
export MOZ_WEBRENDER=1
export QT_QPA_PLATFORMTHEME=qt5ct
export GLFW_IM_MODULE=ibus
export WINIT_UNIX_BACKEND=x11

if [ $XDG_SESSION_TYPE = x11 ]; then
	export MOZ_X11_EGL=1
	xset s 180 120
elif [ $XDG_SESSION_TYPE = wayland ]; then
	export MOZ_ENABLE_WAYLAND=1
fi

