export XIM=fcitx
export XIM_PROGRAM=fcitx
export INPUT_METHOD=fcitx
export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx
export QT_QPA_PLATFORMTHEME=gtk2
export MOZ_WEBRENDER=1
export MOZ_X11_EGL=1
xset s off
